# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/**
!media/.gitkeep
staticfiles/

# Env
.env
!.env.example

# Logs
logs/*.log
!logs/.gitkeep

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Tooling caches
.mypy_cache/
.ruff_cache/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
